@font-face {
    font-family: 'manga';
    src: local('Mangatheque'), url('/public/src/font/Manga.otf');
}

/* HEADER */ 
#nightMode{
    padding:1rem;
    cursor:pointer;
}
#nightMode:active{
    transform : rotate(0.5turn);
    transform : scale(2, 1);
}
.dark{
    background-color : black;
    color:white;
}

.header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1)100%),url('/public/src/images/MangaBandeau.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#divTitleHeader{
    display:flex;
    justify-content: center;
}

#nav{
    display:flex;
    position:absolute;
    top: 14%;
    right:2%;
}
#nav ul{
    list-style-type: none;
}
#nav li{
    
    font-size: 1.2rem;
    padding:0.5rem;
}

#nav a{
    color: #8b3cda;;
}


/* BODY */
h1{
    font-size:4rem;
    color : #f0833a;
}

body{
    background-color: rgb(255,228,196);
    font-family : manga;
    margin:0;
}

p,span{
    font-family : cursive;
}

h3{
    font-size:2rem;
}
#introIndex{
    font-size:2rem;
}
#background-index{
    position: absolute;
    z-index : -1;
    width:100%;
    height:100%;
    opacity : 0.9;
}


#divIndex{
    background-color:rgba(255,255,255,0.3);
    width:50%;
    display:block;
    text-align: center;
    position:absolute;
    top:20%;
    left:25%;
}



.divAuthenticate{
    display:grid;
    text-align: center;
    width:100%;
    margin: 0 auto;
    
}


.formAuthenticate{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-width:30%;
    max-width:70%;
    margin: 0 auto;
}
#formInscription{
    text-align:left;
}



.submitAuthenticate{
    padding:0.5rem;
}

#submitAuthenticate{
    text-align: center;
}
.divCenter{
    text-align:center;
}
.titleAuthenticate{
    font-size : 2.5rem;
}

.titleDashboard{
    font-size:2.5rem;
    text-align: center;
}
#divCollections{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
#divCollections h3{
    text-align:center;
}
.divCollection{
    padding:0 1rem;
    margin:1rem;
    border : 0.1rem solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 30%;
}


.logoManga{
    text-align: center;
    max-width:90%;
    max-height:20rem;
    display:flex;
    margin: 0 auto;
}

.button{
    border: 0.1rem solid black;
    border-radius: 1rem;
    font-family : cursive;
    font-weight: bold;
    margin : 1rem 0.5rem;
    padding:0.4rem;
    
}

.otherButton{
    background-color: #f0833a; 
}

.button:hover{
    background-color :rgb(230, 198, 159);
    cursor: pointer;
}

.deleteButton:hover{
    background-color:#EA0000;
}

.addButton:hover{
    background-color: rgb(230, 198, 159, 0.92);
}


#divTitlePage{
    margin:1rem;
}


.hide{
    display : none;
}


.modal{
    background-color: rgb(230, 198, 159, 0.92);
    border : 0.1rem solid rgba(0, 0, 0, 0.1);
    text-align: center;
    position:fixed;
    top:25%;
    left:25%;
    width:50%;
}

.formCollection{
    display:inline-block;
    width:100%;
}

.formCollection p{
    display: grid;
    margin: 0 auto;
    max-width: 60%;
    padding: 1rem;
}

.closeFormUpdate, .closeFormCollection, .closeFormDelete, .closeAddManga{
    padding: 0 0.5rem;
    display: flex;
    float: right;
    font-size:1.5rem;
}

input, select, textarea{
    border : 0.1rem solid black;
    padding:0.5rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
    min-width:auto;
    max-width:90%;
}

.select{
    border : 0.1rem solid black;
    padding:0.5rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.spanError{
    color:red;
}

.moreInfoManga{
    text-align: center;
    color: rgb(5, 160, 160);
    cursor:pointer;
    transition: transform .05s ease-in-out;
}

.moreInfoManga:hover{
    transform :  rotate(360deg);
}
.moreInfoManga i{
    margin:0 0.5rem;
}
label{
    font-weight: bold;
}

/* ADMIN */
#divAllUser, #divAllManga{
    display: flex;
    gap: 1rem;
    margin:1rem;
    flex-wrap:wrap;
}

.divAdmin{
    border:0.1rem solid black;
    padding: 1rem;
    max-width: 30%;
    min-width: 12%;
}

.imageAdminManga{
    max-width:20rem; 
    max-height:15rem;
}

/* FOOTER */


.footer{
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    text-align:center;
    margin-top:3rem;
}

.footer i{
    color:#EA0000;
}